:root {
  --off-black: #252422;
  --off-white: #F4F4F4;
}

.achievement-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  padding: 100px;
  justify-content: space-between;
  margin-top: 180px;
  margin-bottom: 180px;
}

.achievement-container {
  display: flex;
  flex-direction: column ;
  align-items: center;
  justify-content: center;
}

.achievement-image {
  width: 160px;
  fill: var(--off-black);
}

.achievement-txt {
  font-size: 12px;
  width: 140px;
  text-align: center;
  margin-top: 20px;
  color: var(--off-black);
}