.contact-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

@media (max-width: 600px) {
  .contact-image{
    display: none;
  }
}

.contact-logo {
  width: 280px;
  margin: 0;
}

.contact-title-container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.contact-link {
  border: none;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  color: var(--off-black);
}

.contact-link:hover {
  color: grey;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.contact-info-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.contact-info-collection {
  display: grid;
  grid-template-columns: repeat(2, 1fr 2fr);
  column-gap: 30px;
}

.contact-content-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  margin-top: 80px;
}

@media (max-width: 600px) {
  .contact-content-wrapper{
    margin-left: 60px;
  }
}

@media (max-width: 580px) {
  .contact-content-wrapper{
    margin-left: 16px;
  }
}

.contact-hero {
  display: grid;
  grid-template-columns: repeat(1, 1fr 2fr);
  align-items: center;
  column-gap: 60px;
}

@media (max-width: 600px) {
  .contact-hero{
    grid-template-columns: repeat(1, 1fr);
  }
}