:root {
  --off-black: #252422;
  --off-white: #F4F4F4;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 139px;
}

.showreel-custom-cursor {
  cursor: url('../assets/showreel-custom-cursor-l.svg'), auto;
}

body {
  background-color: var(--off-white);
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  margin: 0;
  color: var(--off-black);
}

.container {
  margin: 0px 100px;
}

    /* 480px, 768px, 1024px, and 1280px */

    @media (max-width: 1024px) {
      .container {
        margin: 0 80px; /* Margin for widths up to 600px */
      }
    }

    @media (max-width: 768px) {
      .container {
        margin: 0 60px; /* Margin for widths up to 600px */
      }
    }

    @media (max-width: 580px) {
      .container {
        margin: 0 16px; /* Margin for widths up to 600px */
      }
    }

/* 480px, 768px, 1024px, and 1280px */

p {
  font-size: 16px;
  margin: 0;
}

.sm-sub-txt {
  width: 200px;
}

h1 {
  font-size: 90px;
  line-height: 86px;
  margin: 0;
}

/* 480px, 768px, 1024px, and 1280px */

    @media (max-width: 900px) {
      h1 {
        font-size: 70px;
        line-height: 68px;
      }
    }

    @media (max-width: 768px) {
      h1 {
        font-size: 50px;
        line-height: 48px;
      }
    }

    @media (max-width: 550px) {
      h1 {
        font-size: 38px;
        line-height: 36px;
      }
    }

h2 {
  font-size: 34px; 
  margin: 0;
}

    /* 480px, 768px, 1024px, and 1280px */

    @media (max-width: 900px) {
      h2 {
        font-size: 30px;
      }
    }

    @media (max-width: 768px) {
      h2 {
        font-size: 28px;
      }
    }

    @media (max-width: 550px) {
      h2 {
        font-size: 26px;
      }
    }

h3 {
  font-size: 26px; 
  margin: 0;
}

h4 {
  font-size: 20px; 
  margin: 0;
}

.nav-link {
  border: none;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  color: var(--off-black);
  text-decoration: none;
}

.nav-link:hover {
  color: grey;
  text-decoration: none;
}

.main-btn {
  border: none;
  background-color: var(--off-black);
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  color: var(--off-white);
  padding: 8px 24px;
  border-radius: 40px;
  text-decoration: none;
  width: fit-content
}

.main-btn:hover {
  background-color: grey;
}

.main-btn-invert {
  border: none;
  background-color: var(--off-white);
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  color: var(--off-black);
  padding: 8px 24px;
  border-radius: 40px;
  text-decoration: none;
  width: fit-content
}

.main-btn-invert:hover {
  background-color: grey;
}