:root {
  --off-black: #252422;
  --off-white: #F4F4F4;
}

.menu-links-container {
  display: flex;
  column-gap: 60px;
}

@media (max-width: 900px) {
  .menu-links-container {
    display: none;
  }
}

@media (max-width: 900px) {
  .header-btn {
    display: none;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  fill: red;
}

.header-btn {
  border: none;
  background-color: var(--off-black);
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  color: var(--off-white);
  padding: 8px 24px;
  border-radius: 40px;
  text-decoration: none;
  width: fit-content
}

.header-btn:hover {
  background-color: grey;
}