:root {
  --off-black: #252422;
  --off-white: #F4F4F4;
}

.basic-info-wrapper{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 60px;
  justify-content: center;
  padding: 60px 0px;
  border-top-color: var(--off-black);
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: var(--off-black);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

    @media (max-width: 900px) {
      .basic-info-wrapper {
        grid-template-columns: 1fr;
      }
    }

.basic-info-wrapper img {
  max-width: 100%; /* Ensure images don't exceed container width */
  height: auto; /* Maintain aspect ratio */
}

.basic-info-left {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.basic-info-right {
  display: flex;
  justify-content: end;
}

    @media (max-width: 900px) {
      .basic-info-right {
        justify-content: start;
      }
    }

.basic-info-image {
  width: 300px;
}

.h1-text-lockup {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  margin-top: 280px;
  margin-bottom: 120px;
  width: 700px
}

    @media (max-width: 768px) {
      .h1-text-lockup {
        width: 400px;
        margin-top: 120px;
      }
    }

    @media (max-width: 480px) {
      .h1-text-lockup {
        width: 300px;
      }
    }

    

.inline-h1-image {
  height: 70px;
}

    @media (max-width: 900px) {
      .inline-h1-image {
        height: 54px;
      }
    }

    @media (max-width: 768px) {
      .inline-h1-image {
        height: 40px;
      }
    }

    @media (max-width: 550px) {
      .inline-h1-image {
        height: 30px;
      }
    }

.project-tile-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-content: center;
}

@media (max-width: 600px) {
  .project-tile-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

.project-tile-wrapper img {
  max-width: 100%; /* Ensure images don't exceed container width */
  height: auto; /* Maintain aspect ratio */
}


.project-tile-container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 60px;
}

.project-tile-title {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  margin-top: 20px;
}

.project-list-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.project-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.project-list-text {
  display: grid;
  align-items: baseline;
  column-gap: 10px;
}

@media (max-width: 600px) {
  .project-list-text{
    grid-template-columns: repeat(1, 1fr);
  }
}

.project-custom-cursor {
  cursor: url('../assets/project-custom-cursor.svg'), auto;
}

.project-link-reset {
  border: none;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  color: var(--off-black);
  text-decoration: none;
}

.project-link-reset:hover {
  color: grey;
  text-decoration: none;
}