.project-h1-hero {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
}

.hero-subtxt-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-hero-image {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: -40px;
  aspect-ratio: 9 / 16;
  max-height: 900px;
  max-width: 80%;
  object-fit: contain;
}

/* .project-hero-image {
  width: 100vw;
  object-fit: contain;
} */

@media (max-width: 900px) {
  .project-hero-image {
    margin-top: -30px;
  }
}

@media (max-width: 768px) {
  .project-hero-image {
    margin-top: -20px;
  }
}

@media (max-width: 550px) {
  .project-hero-image {
    margin-top: -14px;
  }
}

.project-info-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  padding: 60px 0px;
}

@media (max-width: 900px) {
  .project-info-wrapper {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 80px;
  }
}

.project-info-title {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  flex: 1;
}


.container-width-image {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  background-color: green;
}

.container-width-image img {
  max-width: 100%; /* Ensure images don't exceed container width */
  height: auto; /* Maintain aspect ratio */
}

.project-image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  justify-content: center;
  margin: 120px 0px;
}

.project-image-grid img {
  max-width: 100%; /* Ensure images don't exceed container width */
  height: auto; /* Maintain aspect ratio */
}

.project-image-grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-inline-txt {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 400px;
}

@media (max-width: 900px) {
  .project-inline-txt {
    width: auto;
  }
}